table,tr, td
{
	border-width:1px; 
	border-style:solid;
	border-color:black;
	border-collapse: collapse;

	height:100px;
	margin: auto;
	text-align:center;
	text-decoration:none;
	
}

#dom{font-size:30px; width:100px; height:100px}

#jeden{background-color:red; width:100px}
#jedenn{ width:100px}
#dwa{background-color:green}

#trzy{background-color:blue; width:100px}
#trzyn{ width:100px}
#cztery{background-color:orange}


body{padding-top: 100px; font-family:Arial;}

a{text-decoration: none; color:black}

td:hover{outline-width:2px; outline-color:red; outline-style:solid;}





