section{
 border: 2px solid black; 
 height:100vh;
 display:flex;
 width:auto;
 position:relative
 

 }
#s1{background-image: url('hd-miasto.jpg')}
#s2{background-image: url('s2-b.jpg'); color:white}
#s3{background-image: url('s4.jpg'); color:white}
#s4{background-image: url('motyle-b.jpg'); color:white}

ul{
	
	display:flex;
	justify-content:space-around;
	list-style:none;
	background-color:darkcyan;
}



*{margin:0;
 padding:0; 
 box-sizing: border-box;
 background-repeat: no-repeat;
 background-size: cover;
}

a{text-decoration: none; color:black;}


header{
	position:fixed;
	width:100%;
	z-index:100;
	}
	
	
article{
	
	position:absolute;
	top: 50%;
	left: 50%;
	font-size:25px;
}
