table, td
		{	margin:1px;
			border:2px solid transparent;
			border-collapse:collapse;
			background-color: grey;
			border-radius:8px;
			
			}



button{  margin:auto;
		display:block;
		width: 100%;
		border-bottom-left-radius:8px;
		border-bottom-right-radius:8px;
		}
		
.rozszerz{height:46px}

#02{		margin:5px;
			border:2px solid transparent;
			border-collapse:collapse;}
			
			
			
@font-face {
    font-family: 'DS-Digital';
    src:url('DS-Digital.ttf.woff') format('woff'),
        url('DS-Digital.ttf.svg#DS-Digital') format('svg'),
        url('DS-Digital.ttf.eot'),
        url('DS-Digital.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

input{
	  outline-style: solid; 
	  outline-color:grey;
	  outline-width:3px;
	  margin-left:5px;
	  font-family:'DS-Digital';
	  text-align:right;
	 }
