*{
    margin:0;
    padding: 0;
}


#container{
    display: flex;
    width: 100%;
    float: left
}

#contact{
    display: flex;
    width: 70%;
    justify-content: space-around;
    float: left
}


#log{
    display: flex;
    width: 27%;

    justify-content: center;
}

#log > span{
    border:2px black solid;
    margin-right:5px;
    padding:5px;
    background-color: lightgray;
    
}

#log :nth-child(2){
    background-color: orange;
}

#log > span:hover{
 animation-name: loginn;
 animation-duration: 0.5s ;
 animation-fill-mode: forwards;

}
menu{
    width: 100%;
}
menu > section{
    display: flex;
    float:left;
    width: 100%;
    justify-content: left;
    border:1px black solid;
    background-color: aliceblue;
}




#logo {
    background-image: url("logo.png");
    background-size: 80px;
    background-repeat: no-repeat;   
    width: 80px;
    height: 80px;
    
}
@keyframes loginn{
    to{
        background-color: grey;
    }
}

#upper{
    font-size: 40px;
}

#lower{
    font-size: 15px;
    margin-left:20px;
}


section > section{
    font-size:20px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

section > section > div{
    margin-left: 28px;
}

#panels > div:nth-child(2):hover{

color:red;
/* transform: rotate(30deg); */
}
#panels > div:nth-child(3):hover{

color:red;
/* transform: rotate(30deg); */
}
#panels > div:nth-child(2):hover > #rot{
    color:red;

    transform: translate(-50% 50%);
}
#panels > div:nth-child(3):hover > #rot{
    color:red;
    transform: translate(-50% 50%);
}
#containerOfFormula{
    width: auto;
    height: 650px;
    background-image: url('back.webp');
    background-repeat: no-repeat;
    background-size: cover;

}

#formula > div:nth-child(1){
    position: absolute;
    height: 27em;
    width: 20em;
    top:200px;
    left: 50px;
    background-color: rgba(255,255,255,90%);
}

#container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
}
select{
    width: 20em;
    height: 2.5em;
    
}

.sel1{
    width: 10em;
}
.sel2{
    width: 10em;
}

.lab2{
    margin-right: 40px;
}

#container > select:nth-child(2){
    margin-bottom: 20px;
}

.cont{
    margin-bottom:20px;
}

option{
    font-size: 15px;
}

#bed{
    margin-left:-30px;
}

#checks{
    width: 180px;
}

#search{
    margin-top: 20px;
    width: 17em;
    background-color: rgb(230, 55, 55);
    color:white;
    font-size: 16px;
    text-align: center;
    padding: 0.6em 0;
}


#dreams{
    position: absolute;
    top:35%;
    left:50%;
    color:white;
    font-size: 26px;
}

#dreams > h2:nth-child(2){
    background-color: rgb(65, 60, 60);
    padding: 10px;
    font-weight: 100;
}
#dreams > h2:nth-child(3){
    font-weight: 100;
    background-color: rgb(230, 55, 55);
    padding: 10px;
    width: 300px;
}
#dreams > h1{
    font-weight: 700;
}

#category{
    position: absolute;
    /* border: 2px red solid; */
    top:172px;
    left: 70px;
    width: 150px;
    color: white;
    font-size: 20px;
}
#category > span:nth-child(2){
    
}

#category > span{
    border:2px red solid;
    background-color: grey;
    padding: 6px;

}