*{
    margin:0;
    padding: 0;
}


#container{
    display: flex;
    width: 100%;
    float: left;
    /* max-width: 1100px; */
    
}

#contact{
    display: flex;
    width: 70%;
    justify-content: space-around;
    float: left
}


#log{
    display: flex;
    width: 27%;

    justify-content: center;
}

#log > span{
    border:2px black solid;
    margin-right:5px;
    padding:5px;
    background-color: lightgray;
    
}

#log :nth-child(2){
    background-color: orange;
}

#log > span:hover{
 animation-name: loginn;
 animation-duration: 0.5s ;
 animation-fill-mode: forwards;

}
menu{
    width: 100%;
    display: flex;
}
menu > section{
    display: flex;
    float:left;
    width: 100%;
    justify-content: left;
    border:1px black solid;
    background-color: aliceblue;
}




#logo {
    background-image: url("logo.png");
    background-size: 80px;
    background-repeat: no-repeat;   
    width: 80px;
    height: 80px;
    
}
@keyframes loginn{
    to{
        background-color: grey;
    }
}
@keyframes renter{
    to{
        background-color: rgb(167, 135, 135);
    }
}

#upper{
    font-size: 40px;
}

#lower{
    font-size: 15px;
    margin-left:20px;
}


section > section{
    font-size:20px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

section > section > div{
    margin-left: 28px;
}

#panels > div:nth-child(2):hover{

color:red;
/* transform: rotate(30deg); */
}
#panels > div:nth-child(3):hover{

color:red;
/* transform: rotate(30deg); */
}
#panels > div:nth-child(2):hover > #rot{
    color:red;

    transform: translate(-50% 50%);
}
#panels > div:nth-child(3):hover > #rot{
    color:red;
    transform: translate(-50% 50%);
}
#containerOfFormula{
    width: auto;
    height: 60vw;
    max-height: 740px;
    background-image: url('back.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    /* min-width: 1100px; */
    min-height: 740px;
    /* border: 2px red solid; */
}
#formula > div:nth-child(1){
    position: absolute;
    height: 27em;
    width: 20em;
    top:200px;
    left: 50px;
    background-color: rgba(255,255,255,90%);
    /* border:2px red solid; */
}

#container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
}
select{
    width: 20em;
    height: 2.5em;
    
}

.sel1{
    width: 10em;
}
.sel2{
    width: 10em;
}

.lab2{
    margin-right: 40px;
}

#container > select:nth-child(2){
    margin-bottom: 20px;
}

.cont{
    margin-bottom:20px;
}

option{
    font-size: 15px;
}

#bed{
    margin-left:-30px;
}

#checks{
    width: 180px;
}

#search{
    margin-top: 20px;
    width: 17em;
    background-color: rgb(230, 55, 55);
    color:white;
    font-size: 16px;
    text-align: center;
    padding: 0.6em 0;
}


#dreams{
    position: absolute;
    top:35%;
    left:50%;
    color:white;
    font-size: 26px;
    /* border:2px red solid */
}

#dreams > h2:nth-child(2){
    background-color: rgb(65, 60, 60);
    padding: 10px;
    font-weight: 100;
}
#dreams > h2:nth-child(3){
    font-weight: 100;
    background-color: rgb(230, 55, 55);
    padding: 10px;
    width: 300px;
}
#dreams > h1{
    font-weight: 700;
}

#category{
    position: absolute;
    /* border: 2px red solid; */
    top:172px;
    left: 70px;
    width: 150px;
    color: white;
    font-size: 20px;
    /* border:2px red solid; */
}


#category > span{
    /* border:2px red solid; */
    background-color: grey;
    padding: 6px;

}

footer{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    /* border:3px yellow solid; */
    background-color: antiquewhite;
    width: 100%;
    height: auto;
}


footer > div {
    /* border: 2px red solid; */
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

footer > div > section{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* border: 2px aqua solid ; */
    /* height: 100%; */
    /* position: relative; */
    /* display: block; */
}
footer > div > section > article{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    float: left;
    justify-content: space-around;
    /* border: 2px red solid; */
    width: 20%;
    background-color: antiquewhite
    ;
    text-wrap: wrap;
    
}

/* footer > div > section > article:before{
    content: url("icon-map-s.png");
    transform: scale(0.5);
} */

article > p{
    text-wrap: wrap;
    position: relative;
    padding: 7px;
}

img{
    flex-wrap: wrap;
    height: 100%;
    width: 30%;
    float: left;
}

h3{
    width: 60%;
    flex-wrap: wrap;
    float: left;
}
p{
    width: 60%;
    flex-wrap: wrap;
    float: left;
    text-wrap: wrap;
    /* height: ; */

}





#r:hover,#b:hover{
    animation-name: renter;
    animation-duration: 0.5s ;
    animation-fill-mode: forwards;

}




#lowerCaser{
    position: relative;
    display: block;
    background-color: rgb(236, 198, 148);
    width: 100%;
    height: auto;
    text-align: center;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 100%;
    
}

#lowerCaser > section:first-child{
    font-size: 46px;
    font-weight: 600;
    line-height: 58px;
    color: #2c3e50;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    width: 100%;
}
section > p{
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    color: #f15455;
}

.option{
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* float:left; */
    margin-top: 40px;
    /* margin-left: 40px; */
    border: 2px black solid;
    background-color: aliceblue;
    
}

.option > img{
    width: 100%;
    height: 12rem;
    background-repeat: no-repeat;
    
}

a{
    text-decoration: none;
}

a:visited{
    color:black;
}




@media only screen and (max-width: 1099px ){
    #lowerCaser{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1099px;
        min-width: none;
    }
    #option{
        
    }

    #containerOfFormula{
        max-width: 1099px;
        width: 100%;
        min-width: none;
    }
    footer{
        max-width: 100%;
        width: 100%;
        min-width: none;
    }
    #container{
        max-width: 1099px;
        min-width: none;
        width: 100%;
    }
}