*{
    margin:0;
    padding: 0;
}


#container{
    display: flex;
    width: 100%;
    float: left
}

#contact{
    display: flex;
    width: 70%;
    justify-content: space-around;
    float: left
}


#log{
    display: flex;
    width: 27%;

    justify-content: center;
}

#log > span{
    border:2px black solid;
    margin-right:5px;
    padding:5px;
    background-color: lightgray;
    
}

#log :nth-child(2){
    background-color: orange;
}

#log > span:hover{
 animation-name: loginn;
 animation-duration: 0.5s ;
 animation-fill-mode: forwards;

}
menu{
    width: 100%;
}
menu > section{
    display: flex;
    float:left;
    width: 100%;
    justify-content: left;
    border:1px black solid;
    background-color: aliceblue;
}




#logo {
    background-image: url("logo.png");
    background-size: 80px;
    background-repeat: no-repeat;   
    width: 80px;
    height: 80px;
    
}
@keyframes loginn{
    to{
        background-color: grey;
    }
}

#upper{
    font-size: 40px;
}

#lower{
    font-size: 15px;
    margin-left:20px;
}


section > section{
    font-size:20px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

section > section > div{
    margin-left: 28px;
}

#panels > div:nth-child(2):hover{

color:red;
/* transform: rotate(30deg); */
}
#panels > div:nth-child(3):hover{

color:red;
/* transform: rotate(30deg); */
}
#panels > div:nth-child(2):hover > #rot{
    color:red;

    transform: translate(-50% 50%);
}
#panels > div:nth-child(3):hover > #rot{
    color:red;
    transform: translate(-50% 50%);
}

main{
    
}