*{
	background-repeat:no-repeat;
	background-size: cover;
	box-sizing: border-box;
	font-family:Arial;
}


div{
	text-align:center;
	position:relative;
	color: white;
	}
#theme{left:-250px; font-size:30px}

#big{font-size:100px; color: white; position:relative;}

#kontener{
	margin:auto;
	width:1248px;
	position:relative;
	
}

#man{	
		background-image: url('city.jpg');
		width:auto;
		height:1040px;
		display:flex;
		max-width:100%;
		max-height:1040px;
	}

#button{	
	border:1px transparent solid;
	color:black;
	background-color: rgb(255,255,255, .5);
	width:40%;
	font-size:35px;
	padding:30px;
	left:350px;
}

ul{
	
	display:flex;
	justify-content:space-around;
	list-style:none;
	background-color: black
	;color:white;
	position:relative;
	font-size:35px;
	top:-50px;
	width:auto;
	z-index:90;
	padding:5px;
}

#pole{
	width:auto;
	z-index:100;
	font-weight: bold;
}
.sub{
	font-size:33px;
	font-style: italic;
	width:150px;
	position:relative;
	
}
#sekcje{
	margin:auto;
	margin-top:0;
	display: flex;
	align-items: center;
	justify-content: center;
	
	vertical-align:bottom;
}
.img{
	height:250px;
	width:300px;
	margin-left:25px;
	margin-right:25px;

}
#s1{
	border:5px solid black;
	background-image: url('s1.jpg');
	float:left;
	border-bottom-color:transparent;	
}
#s2{
	border:5px solid black;
	background-image: url('s2.jpeg');
	float:left;
	border-bottom-color:transparent;	
}
#s3{
	border:5px solid black;
	background-image: url('s2.jpeg');
	float:left;
	border-bottom-color:transparent;	
}
#s4{
	border:5px solid black;
	background-image: url('s4.jpg');
	float:left;
	border-bottom-color:transparent;
}
.tekst{
	font-family:Arial;
	vertical-align:bottom;
	font-size:35px;
	margin-top:240px;
	color:black;
	border:5px black solid;
	border-top-color:transparent;
}
#bot{
	width:auto;
	background-color:	rgb(192,192,192);
	font-family:Arial;
	font-size:45px;
	text-align:center;	
	color:black;
	font-weight:bold;
	margin:auto;
	padding:15px;
	margin-top:160px;
}

    

.sub{
	border: 2px black solid;
	background-color: rgba(255,0,0,0.5);
	display: none;
	margin-top:90px;
	
}
ul a:hover ~ .sub{
  display: block;
  position:absolute	
}

.sub > li:hover{
	display:block;
	position:relative;
	margin-left:0;
	outline-width:2px;
	outline-color:yellow;
	outline-style:solid;
}
