.kwadrat {
  width: 100px;
  height: 100px;
  position:absolute;
}

#bot{
	background-color:aqua;
	left:200px;
	top:200px;
	z-index:1;
}
#mid{
	background-color:yellow;
	left:250px;
	top:250px;
	z-index:2;
}
#top{
	background-color:red;
	left:300px;
	top:300px;
	z-index:3;
}
