
html{background-color:grey; 
	display:flex;	
	}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(circle at 65% 15%, grey 1px, #DFE5ED 3%, white 60%,  white 100%);
  border-radius: 50%;
  position: absolute;
  
}

#top{
	

	top: 39vh;
	left: 75.8vh;
	width:65px;
	height:65px;
	z-index:98;
}
#mid{
	
	top: 43vh;
	left: 74.7vh;
	width:85px;
	height:85px;
	z-index:90;
}
#bot{
	
	top: 48vh;
	left: 74vh;
	width:100px;
	height:100px;
	z-index:80;
}
#oko{
	
	top: 40.5vh;
	left: 77vh;

	width:10px;
	height:10px;
	background: black;
	z-index:100;
}
#oko2{
	
	top: 40.5vh;
	left: 80vh;

	width:10px;
	height:10px;
	background: black;
	z-index:100;
	
}


#nos {
    width: 0;
    height: 0;
    border-top:5px solid transparent;
    border-right: 10px solid orange;
    border-bottom: 5px solid transparent;
	top: 41vh;
	left: 78vh;
	position: absolute;
	z-index:100;
}

#trap {
	border-bottom: 25px solid red;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 30px;
	position:absolute;
	z-index:100;
	left: 75vh;
	top:38vh
}



.reka{
  width: 120px;
  height: 12px;
  background: brown;
}
#lewa{
	
	position:absolute;
	left:70vh;
	top:46vh;
	transform: rotate(35deg);
}
  #prawa{
	
	position:absolute;
	left:76vh;
	top:46vh;
	transform: rotate(510deg);
	
}
  