*{margin:auto; width:auto;}
html{background-color:grey; 
	display:flex;	
	margin:auto;
	}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(circle at 65% 15%, grey 1px, #DFE5ED 3%, white 60%,  white 100%);
  border-radius: 50%;
  position: absolute;
  
}

#top{
	

	top: 39vh;
	left: 75.8vw;
	width:65px;
	height:65px;
	z-index:98;
}
#mid{
	
	top: 43vh;
	left: 74.7vw;
	width:85px;
	height:85px;
	z-index:90;
}
#bot{
	
	top: 48vh;
	left: 74vw;
	width:100px;
	height:100px;
	z-index:80;
}
#oko{
	
	top: 40.5vh;
	left: 77vw;

	width:10px;
	height:10px;
	background: black;
	z-index:100;
}
#oko2{
	
	top: 40.5vh;
	left: 80vw;

	width:10px;
	height:10px;
	background: black;
	z-index:100;
	
}


#nos {
    width: 0;
    height: 0;
    border-top:5px solid transparent;
    border-right: 10px solid orange;
    border-bottom: 5px solid transparent;
	top: 41vh;
	left: 78vw;
	position: absolute;
	z-index:100;
}

#trap {
	border-bottom: 25px solid red;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 30px;
	position:absolute;
	z-index:100;
	left: 75vw;
	top:38vh
}



.reka{
  width: 120px;
  height: 12px;
  background: brown;
}
#lewa{
	
	position:absolute;
	left:70vw;
	top:46vh;
	transform: rotate(35deg);
}
#prawa{
	
	position:absolute;
	left:76vw;
	top:46vh;
	transform: rotate(510deg);
	animation: anim 1s infinite alternate;
	@keyframe anim{
		
		from {transform: rotate(510deg);}
		to {transform: rotate(600deg);}
		
	}
}
 
#buzia{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 4px 4px 0 0 grey;
	position: absolute;
	z-index:100;
	left:76.3vw;
	top:38.5vh;
	transform: rotate(40deg);
	
}

#kora{
	
  width: 80px;
  height: 110px;
  background: brown;
  top:50vh;
  z-index:1;
  left:43vw;
  position:absolute;
}

.drzewo{
	
	position:absolute;
    width: 0;
    height: 0;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: 100px solid green;	
}

#bott{
	
	top:42vh;
	left:31vw;
	z-index:50;
}

#midt{
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
	top:35vh;
	left:33vw;
	z-index:60;
}

#topt{
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
	top:28vh;
	left:35vw;
	z-index:70;
}

