#ColorPanel > button{
    width: 20px;
    height: 20px;
}
#ColorPanel{
    width:170px;
}

#ColorPanel > button:hover{
    outline: 2px red solid;
}

#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#black{
    background-color: black;
}
#white{
    background-color: white;
}
#orange{
    background-color: orange;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}


#sizer{
    border-radius: 50px;
    width: 170px;
}

.slider{

    width: 100%;
    border-radius: 5px;  
    background: #d3d3d3;
}


#button > span{
   text-shadow: black 1px 0 10px;
}

#tools{
    width:170px
}
#tools > button{
    width: 20px;
    height: 20px;
    font-size: 10px;

}

#tools > button > span{
    justify-content: center;
    align-items: center;
    display: flex;
}

.spriteClick{
    width: 20px;
    height: 20px;
}
.spriteClick:nth-child(1){
    background-image: url('sprite1.webp');
    background-size: cover;
}

.spriteClick:nth-child(2){
    background-image: url('sprite2.png');
    background-size: cover;
}
