*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    height: 400px;
    width: 600px;
    border:1px black solid;
    position: relative;
    overflow:hidden;
}

.backS{
    background-image: none;
    background: linear-gradient(45deg, blue, aqua);
}

body{
    display: grid;
    place-items: center;
}

#land{
    position: absolute;
    width: 150%;
    height: 100px;
    background-image: url(landpng.png);
    bottom: 0;
}

#player{
    width: 100px;
    height: 164px;
    /* outline: auto;  */
    position: absolute;
    bottom: 75px;
    left: 30px;
}


#obstacle{
    width: 40px;
    height: 80px;
    /* background-color: brown; */
    position: absolute;
    bottom: 92px;
    left: 600px;
    
}

#points{
   width: 100%;
   height: 30px;
   text-align: center;
   align-items: center;
   place-items: center;
   color:white
}


#pauseInfo{
    width: 100%;
    height: 30px;
    text-align: center;
    align-items: center;
    place-items: center;
    color:white
}


#endgame{
    width: 100%;
    height: 100%;
    background-color: lightcoral;
    text-align: center;
    padding-top: 150px;
    display: none;
}
button{

    padding: 5px;

}




#gameRun{
    display: none;
    
}

#start{
    width: 100px;
    height: 25px;
    text-align: center;
    
}

#meniu{
    margin-left: 40%;
    margin-top: 25%;
}


 
@keyframes obstac {
    from{
        left:100%;
    }
    to{
        left:-50px;
    } 
}
@keyframes jump{
    0%{
        bottom:75px;
    }
    50%{
        bottom:200px;
    }
    60%{
        bottom:200px;
    }
    80%{
        bottom:150px;
    }
    100%{
        bottom:100px;
    }
}


.jump{
    animation: jump 1s ease-in;
}
.moving{
    animation: obstac 2s linear;
}


@keyframes roud{
    from{left:0px}
    to{left:-169px}
}

#land{
    animation: roud 2s linear infinite;

}