*{
    margin: 0;
    padding: 0;
    /* display: grid; */
}
body{
    background-color: black;
}
main{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    place-items: center;
}
section{
    border-radius:20px;
    height: 200px;
    align-items: center;
    justify-items: center;
    /* outline: auto; */
}

main > a > article > section{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    min-width: 340px;
    max-height: 200px;
    max-width: 370px;
}

main > a:nth-child(1) > article > section{
    background-image: url(miniatures/obr1.jpg);
}
main > a:nth-child(2) > article > section{
    background-image: url(miniatures/obr2.jpg);
}
main > a:nth-child(3) > article > section{
    background-image: url(miniatures/obr3.jpg);
}
main > a:nth-child(4) > article > section{
    background-image: url(miniatures/obr4.jpg);
}
main > a:nth-child(5) > article > section{
    background-image: url(miniatures/obr5.jpg);
}
main > a:nth-child(6) > article > section{
    background-image: url(miniatures/obr6.jpg);
}

.text:visited{
    color:white;
}
.text:hover{
    color:blue;
}
.text{
    /* outline: 2px red solid; */
    width: 320px;
    display: block;
    float: left;
    text-align: left;
    color:white;
    font-weight: 500px;
}
.descript{
    /* outline: auto; */
    display: block;
    width: 250px;
}
.title{
    /* outline: auto; */
    /* text-align: center; */
    /* align-self: self-end; */
    display: block;
    font-weight: bold;
}
img{
    display: flex;
    width: 50px;
    float: left;
    border-radius: 30px;
}

#to_be{
    font-size: 13px;
}

#category{
    height: 30px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    color:white;
    align-items: center;
    margin-bottom: 30px;
}

#category > .SpecifyCategory{
    outline: 2px white solid;
    background-color: rgb(62, 62, 62);
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
}



.SpecifyCategory:nth-child(1):hover{
    animation: catig 0.5s forwards;
}
.SpecifyCategory:nth-child(2):hover{
    animation: catig 0.5s forwards;
}
.SpecifyCategory:nth-child(3):hover{
    animation: catig 0.5s forwards;
}
.SpecifyCategory:nth-child(4):hover{
    animation: catig 0.5s forwards;
}
.SpecifyCategory:nth-child(5):hover{
    animation: catig 0.5s forwards;
}



@keyframes catig {
    from{
        background-color: rgb(62, 62, 62);
    }
    to{background-color: rgb(102, 101, 101);}
}
@media only screen and (min-width: 1700px) {
    main{
        grid-template-columns: auto auto auto auto auto;
    }
}
@media only screen and (max-width: 1700px) {
    main{
        grid-template-columns: auto auto auto auto;
    }
}
@media only screen and (max-width: 1400px) {
    main{
        grid-template-columns: auto auto auto ;
    }
}
@media only screen and (max-width: 1050px) {
    main{
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width: 710px) {
    main{
        grid-template-columns: auto;      
    }
}